<div class="event-form-container">
  <h1>Create a new event</h1>
  <p>
    Fill the following form to create a new event.
  </p>
  <mat-divider></mat-divider>

  <form *ngIf="event" (ngSubmit)="onFormSubmit()" #eventForm="ngForm">

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="event.name"
        name="name"
        id="name"
        type="text"
        placeholder="Event Name"
        [readonly]="eventFormSubmitted"
        required>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        [(ngModel)]="event.description"
        name="description"
        id="description"
        type="text"
        placeholder="Event Description"
        [readonly]="eventFormSubmitted"
        required></textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="event.startTime"
        name="startTime"
        [matDatepicker]="startTimePicker"
        placeholder="Choose start date of event."
        [readonly]="eventFormSubmitted"
        required>
      <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
      <mat-datepicker #startTimePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="event.endTime"
        name="startTime"
        [matDatepicker]="endTimePicker"
        placeholder="Choose end date of event."
        [readonly]="eventFormSubmitted"
        required>
      <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
      <mat-datepicker #endTimePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-checkbox
      [(ngModel)]="event.isEventVisible"
      name="isEventVisible"
      [checked]="event.isEventVisible"
      [disabled]="eventFormSubmitted"
      color="primary">
        Public event
    </mat-checkbox>
    <br>
    <br>

    <button
      *ngIf="!eventFormSubmitted"
      mat-raised-button
      color="primary"
      type="submit">
        Save
    </button>
    <div *ngIf="eventFormSubmitted">
      <p>
        Event has been saved.
        Please click on link below for details.
      </p>
      <a routerLink="/events/detail/{{event.id}}">
        <button mat-raised-button type="button" color="primary">
          Go To Event
        </button>
      </a>
    </div >

  </form>
</div>
