.event-form-container {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

.event-form-container > form > * {
  width: 60%;
}

.event-form-container > form > button {
  width: 10%;
}

mat-divider {
  margin-bottom: 20px;
  width: 60%;
}
