<div class="event-detail" *ngIf="event">
  <h2>Event Details</h2>
  <p>Id: {{event.id}}</p>
  <p>Name: {{event.name}}</p>
  <p>Description: {{event.description}}</p>

  <a routerLink="/events/update/{{event.id}}">
    <button mat-raised-button color="primary">Update event data</button>
  </a>
</div>
