<div class="events-list">
  <h1>All events</h1>

  <a routerLink="/events/create">
    <button mat-raised-button color="primary">Create a new Event</button>
  </a>
  <br>
  <br>
  <div *ngFor="let event of events">
    <mat-card class="event-detail-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon id="event-header-icon">event</mat-icon>
        </div>
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>Organized by Team X</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{event.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/events/detail/{{event.id}}">
          <button mat-raised-button color="primary">
            <mat-icon>event</mat-icon> Event Details
          </button>
        </a>
        <button mat-raised-button color="primary">
          <mat-icon>question_answers</mat-icon> See Questions
        </button>
        <button mat-raised-button color="primary">
          <mat-icon>poll</mat-icon> See Polls
        </button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>

